<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Frontend</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

<!-- Navigation bar -->
  <nav style="background-color:#f19010">
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo center"><i class="material-icons">cloud</i>Estacion meteorologica</a>
       
        <ul id="nav-mobile" class="right" style="margin-right: 15px;">
            <li class="active">
                <a (click)="showTemp()">Temperatura</a>
            </li>
            <li class="active">
              <a (click)="showHum()">Humedad</a>
          </li>
        </ul>
    </div>
  </nav>

<!-- Cuerpo efectivo de la pagina -->
  <div id="todo"> 
		<div class="container" >
            <a id="Control LED"></a>
            <h4 style="text-align:center">Control del LED</h4>
             <!-- Boton -->
                <button (click)="mqttPublish('on')" mat-button color="primary" >ON</button>
                <button (click)="mqttPublish('off')" mat-button color="danger">OFF</button>

    </div>
    <br/>
    <br/>
  </div>

<!--Grafico-->
<div class="chart-wrapper">
    <canvas baseChart 
        [datasets]="lineChartData" 
        [labels]="lineChartLabels" 
        [options]="lineChartOptions"
        [colors]="lineChartColors" 
        [legend]="lineChartLegend" 
        [chartType]="lineChartType" 
        [plugins]="lineChartPlugins">
    </canvas>
</div>
</body>
</html>




